/* pacík :3(CZ:SK) */
div[data-cid^="-"] .badge-box i {
 background: url("") !important;
 width:32px !important;
 height:32px !important;
} 

/* GAME_TIME_ZA_2T_NA_WOW_Z */
div[data-cid^="-"] .badge-box i {
 background: url("") !important;
 width:32px !important;
 height:32px !important;
} 

/* verda8 */
div[data-cid^="-"] .badge-box i {
 background: url("") !important;
 width:32px !important;
 height:32px !important;
} 

/* Daník <3 */
div[data-cid^="-"] .badge-box i {
 background: url("") !important;
 width:32px !important;
 height:32px !important;
} 

/* MoryX */
div[data-cid^="-6590763"] .badge-box i {
 background: url("https://vgy.me/1U2AFI.png") !important;
 width:32px !important;
 height:32px !important;
} 

/* Repiboy */
div[data-cid^="-13444919"] .badge-box i {
 background: url("https://vgy.me/pbz5UB.png") !important;
 width:32px !important;
 height:32px !important;
} 

/* SHŽ Bot */
div[data-cid^="-1109962"] .badge-box i {
 background: url("https://vgy.me/SURqqc.png") !important;
 width:32px !important;
 height:32px !important;
} 

