/* Host */

/* pacík :3(CZ:SK) */

div[data-cid^="3057259-"] .badge-box i {
 background: url('https://vgy.me/GRD0c3.png') !important;
 width:32px !important;
 height:32px !important;
}  

/* Co-Hosts */

/* GAME_TIME_ZA_2T_NA_WOW_Z */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
}  

/* verda8 */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
} 

/* Managers */

/* Daník <3 */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
} 

/* MoryX */

div[data-cid^="-6590763"] .badge-box i {
 background: url('https://vgy.me/1U2AFI.png') !important;
 width:32px !important;
 height:32px !important;
}

/* Repiboy */

div[data-cid^="13444919-"] .badge-box i {
 background: url('https://vgy.me/GfVgJm.png') !important;
 width:32px !important;
 height:32px !important;
}  
 
/* Vole Nestresuj */

div[data-cid^="-1109962"] .badge-box i {
 background: url('https://vgy.me/SURqqc.png') !important;
 width:32px !important;
 height:32px !important;
}

/* Bouncers */

/* ^Strajkricek^ */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
} 

/* _Yuki_Death_ */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
} 

/* AB radio (ine kafe :3) */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
} 

/* Garlic */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
} 

/* Melinda_Life */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
} 

/* RDJS */

/* marekjenej */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
} 

/* TOMKOCZ */

div[data-cid^="-"] .badge-box i {
 background: url('') !important;
 width:32px !important;
 height:32px !important;
} 

/* Users */

/* sBiMsTkH35 */

div[data-cid^="-4548827"] .badge-box i {
 background: url('https://vgy.me/LgmYR4.png') !important;
 width:32px !important;
 height:32px !important;
} 
