/* Woot/Grab/Meh */

#vote {
 opacity: 1;
}	
#woot { 
 border-radius: 30px 0 0 30px ;
}
#woot .bottom { 
 border-radius: 0 0 0 30px;
}
#woot.selected, #woot .bottom, #woot.crowd-response.disabled.active .bottom {
 background: linear-gradient(to top,#89BE6C,rgba(137, 190, 108, 0.8) 100%);	
}
#meh { 
 border-radius: 0 30px 30px 0;
}
#meh .bottom { 
 border-radius: 0 0 30px 0;
}
#meh.selected, #meh .bottom, #meh.crowd-response.disabled.active .bottom {
 background: linear-gradient(to top,#C42E3B,rgba(196, 46, 59, 0.8) 100%);
}
#grab.selected, #grab .bottom, #grab.crowd-response.disabled.active .bottom {	
 background: linear-gradient(to top,#0191FF,rgba(1, 145, 255, 0.8) 100%);
} 
#woot .bottom, 
#woot.selected,
.votes-rs .title.woot {
 background: #89BE6C !important;
}
.votes-rs .title.grab,
#grab .bottom, 
#grab.selected {
 background: #0191FF !important;
}
.votes-rs .title.meh,
#meh .bottom, 
#meh.selected {
 background: #C42E3B !important;
}    

/* dj-button */

#dj-button.is-wait, #dj-button.is-leave, #dj-button.is-quit, #dj-button.is-locked, #dj-button.is-full {
 opacity: 1;
}
#dj-button, #dj-button.is-leave {
 border-radius: 30px 30px 30px 30px;
 background: linear-gradient(to top,#3A3A3A,rgba(34, 34, 34, 0.8) 100%);	
}  
#dj-button .left {
 border-radius: 30px 30px 30px 30px;
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}
#dj-button.is-leave .left {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}

/* media */

@media (max-width: 1600px) {
 #room .app-right {
 background: linear-gradient(to right,rgba(0, 0, 0, 0.75) 0,rgba(0, 0, 0, 0.75) 100%);
  }
}
.media-list .row.now-playing .meta, .media-list .row.selected .meta {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;	
}
.media-list .row.selected {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;	
}
#media-panel .header .button {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;	
}

/* footer */

#footer {
 background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#footer-user .back {
 background: linear-gradient(to top,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}

/* app-header */

.app-header {
 background: linear-gradient(to top,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}

/* dashboard */

#dashboard {
 background: linear-gradient(to top,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}

/* app-menu */

#app-menu .button {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
} 

/* user */

#user-view {
 background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.75) 0%);
}
#user-menu {
 background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.75) 100%);
}
#user-lists .list.staff .group {
 background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.75) 100%);	
}
#user-settings .tab-menu button:first-child {
}
#user-menu .avatar { 
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
} 
#user-menu .item.selected { 
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}
.user-content .tab-menu button {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}
#user-friends .list .row .buttons button {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}
#user-menu .item.notify .count {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}
#user-friends .tab-menu.has-requests button .count {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;	
}
#user-rollover {
 background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.75) 0%);
}

/* list */

#app-menu .list {
 background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.75) 100%);
}

/* dialog */

#dialog-user-role {
 background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.75) 100%);
}
#dialog-body {
 background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0px, rgba(0, 0, 0, 0.75) 100%);
}

/* dropdown */

.dropdown dt { 
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}

/* room-settings */

#room-settings-menu .item.selected {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}
#room-settings .general-settings .option button.off {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}
#room-settings .general-settings .option button.on {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}

/* friends-butoon */

#friends-button .request-count {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}	

/* playlist */

#playlist-menu .menu .row.selected {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;	
}
#playlist-button {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;	
}
#playlist-create:hover {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}
#playlist-import:hover {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;	
}

/* tab-menu */

.tab-menu button {
 background: linear-gradient(to bottom,rgba(1, 145, 255, 0.8) 0,rgba(255, 53, 88, 1) 100%) !important;
 box-shadow: 0 0 15px #89BE6C !important;
}

/* history-button */

#history-button {
 background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
